@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

:root {
	--dark-cyan: hsl(185, 75%, 39%);
	--desaturated-blue: hsl(229, 23%, 23%);
	--grayish-blue: hsl(227, 10%, 46%);
	--dark-gray: hsl(0, 0%, 59%);
	--balck: hsl(0, 0%, 0%);
	--white: hsl(0, 0%, 100%);
}

/*  */

/* resets */
html {
	font-size: 62.5%;
	font-family: 'Kumbh Sans', sans-serif;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

* {
	margin: 0;
	padding: 0;
}

img {
	width: 100%;
	height: auto;
	display: block;
}

/* helpers */

.flex {
	display: flex;
	justify-content: center;
	align-items: center;
}
.stats,
.name {
	font-size: 1.8rem;
	font-weight: 700;
}

/* mobile syles */
body {
	position: relative;
	height: 100vh;
	background-color: var(--dark-cyan);
	/* maybe try absolute positioning for the bg images */
}
.bubble-top,
.bubble-bottom {
	position: absolute;
}

.bubble-top {
	right: 50%;
	top: -10%;
}

.bubble-bottom {
	left: 50%;
	bottom: -10%;
}

main {
	width: 90%;
	padding: 0 0 3rem 0;
	background: var(--white) url(images/bg-pattern-card.svg) no-repeat;
	background-size: 100%;
	border-radius: 2rem;
	z-index: 1;
}

.user-image img {
	max-width: 30%;
	margin: 25% auto 0 auto;
	border-radius: 50%;
	border: 0.5rem solid var(--white);
}
.user-name {
	margin: 3rem 0 1rem 0;
	font-size: 1.2rem;
}
span {
	font-weight: 400;
	color: var(--dark-gray);
	padding: 0 0 0 0.5rem;
}
.user-location {
	font-size: 2rem;
	font-weight: 400;
	color: var(--dark-gray);
	margin: 0 0 4rem 0;
}
.user-name,
.user-location {
	text-align: center;
}

.activity {
	justify-content: space-evenly;
	border-top: 0.1rem solid var(--dark-gray);
	padding: 3rem 0 0 0;
}

.activity h3 {
	margin: 0;
	padding: 0 0 1rem 0;
	font-size: 2rem;
	font-weight: 700;
}

.activity span {
	font-size: 1.5rem;
}
.likes,
.followers,
.photos {
	text-align: center;
}

/* desktop styles */
@media only screen and (min-width: 70rem) {
	body {
		background-size: 80%, 80%;
		background-position: -150% 150%, 200% -100%;
	}

	.bubble-top,
	.bubble-bottom {
		width: 70%;
	}

	.bubble-top {
		top: -80%;
	}

	.bubble-bottom {
		left: 45%;
		bottom: -100%;
	}

	main {
		max-width: 40rem;
	}
}
